body {
  background:url(../images/background.jpg) #E9E9E9;
  font:12px/150% Helvetica, Arial, Verdana, sans-serif;
  color:#333333;
  letter-spacing:-1px;
  text-align:center;
}



#container {
  width:560px;
  margin:50px auto 0 auto; padding:20px;
  background-color:#ffffff;
  border:1px solid #dedede;
  -webkit-border-radius:5px;
     -moz-border-radius:5px;
          border-radius:5px;
}
  #container h1 {
    margin-bottom:5px;
    font-weight:bold; font-size:30px;
  }
  #container h2 {
    margin-bottom:20px;
    font-size:20px;
  }



#carousel {
  width:172px;
  margin:0 auto;
}
  #carousel .prev,
  #carousel .next {
    width:108px; height:12px;
    margin:0 auto;
    background:url(../images/navigation.png) top left no-repeat transparent;
    text-indent:-99999px;
    display:block;
  }
  #carousel .next {
    background-position:bottom left;
  }  
  #carousel .wrapper {
    width:170px;
    padding:5px 0 5px 0;
    background-color:#ebebeb;
    border:1px solid #e1e1e1;
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;
    overflow:hidden;
  }
    #carousel ul li {
      padding:5px 10px 5px 10px;
    }
    #carousel ul li img {
      display:block;
    }



footer { padding:10px 0 20px 0; }
  footer p {
    font-size:10px; color:#888888;
    letter-spacing:0;
  }
  footer p a {
    color:#08C;
    text-decoration:none;
  }
  footer p a:hover {
    text-decoration:underline;
  }